# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
 fi

alias c='cd'
alias l='ls'
alias p='pushd'
alias d='dirs -v'
#EDITOR
  alias v=$EDITOR
  alias vi=$EDITOR
  alias vim=$EDITOR

#git
  alias g='git'
  alias gi='git'

#custom alias
alias rust='rustc'
alias pwgen='pwgen -s -y 12 3'
alias prettyjson='python -m json.tool'
alias xmlformatter='xmlstarlet format --indent-tab'
alias sshconf='cat $HOME/.ssh/config'
alias getip='curl ip.mtak.nl'
alias hc='herbstclient'
alias dstat-full='dstat -Tclmdrn'
alias dstat-mem='dstat -Tclm'
alias dstat-cpu='dstat -Tclr'
alias dstat-net='dstat -Tclnd'
alias dstat-disk='dstat -Tcldr'

if [ "$(uname)" = 'Darwin' ]; then
  alias ls='gls'
  alias df='gdf'
  alias tail='gtail'
  alias cat='gcat'
  alias cp='gcp'
  alias date='gdate'
fi
