[core]
    editor = vim
	ignorecase = false
[color]
    ui = true
[include]
    path = .gitconfig.local
[alias]
    a  = add
    ad = add
    b  = branch -a
    br = branch -a
    ch = checkout
    co = commit
    d  = diff
    df = diff
    di = diff
    f  = fetch
    fe = fetch
    g  = grep
    l  = log --graph --oneline --decorate=full
    lg = log --graph --oneline --decorate=full
    log = log --graph --oneline --decorate=full
    pl = pull
    rb = rebase
    rs = reset
    s  = status
    st = status
    sh = stash
[user]
  name = Saggggo
  email = 11752497+saggggo@users.noreply.github.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
