[core]
    editor = vim
[color]
    ui = true
[include]
    path = .gitconfig.local
[alias]
    a  = add
    ad = add
    b  = branch -a
    br = branch -a
    ch = checkout
    co = commit
    d  = diff
    df = diff
    di = diff
    f  = fetch
    fe = fetch
    l  = log
    lg = log
    pl = pull
    rb = rebase
    rs = reset
    s  = status
    st = status
    sh = stash
