"*":
  "atom-alignment":
    alignBy: [
      "!="
      "=>"
      "//"
      "::"
      ":"
      "?"
      "="
      "$personal_ranking"
      "$team_ranking"
    ]
  "atom-beautify": {}
  "atom-terminal-panel": {}
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "Link"
    ]
    neverClose: [
      "br"
      "hr"
      "img"
      "input"
      "meta"
      "area"
      "base"
      "col"
      "command"
      "embed"
      "keygen"
      "param"
      "source"
      "track"
      "wbr"
    ]
  "autohide-tree-view": {}
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "git-plus"
      "haskell-ghc-mod"
      "ide-haskell"
      "ide-haskell-hasktags"
      "linter-php"
      "platformio-ide-terminal"
      "script"
      "atom-alignment"
      "atom-beautify"
      "autoclose-html"
      "file-icons"
      "highlight-line"
      "language-haskell"
      "linter"
      "merge-conflicts"
      "pretty-json"
      "xml-formatter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "1eb74960-cfb3-4519-bfe2-521eb1ae035b"
  "ide-haskell-hasktags":
    hasktagsPath: "/home/sago/.local/bin/hasktags"
  linter:
    errorPanelHeight: 22
  "linter-php": {}
  minimap:
    displayCodeHighlights: false
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
  "terminal-plus":
    core: {}
    style: {}
    toggles:
      autoClose: true
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
  "xml-formatter": {}
