[Desktop Entry]
Name=1Password Browser Helper
Comment=Allow brouser plugins to interact with the 1password
Exec=env WINEPREFIX="$HOME/.wine" wine "$HOME/.wine/drive_c/Program Files (x86)/1Password 4/Agile1pAgent.exe"
Terminal=false
Type=Application
Icon=C775_1password 4
Path=$HOME/.wine/drive_c/Program Files (x86)/1Password 4/
Categories=Network;
StartupNotify=false
